footer {
  background: #272727;
  color: #fff;
  padding: 1em;
  text-align: center;
}

footer > article {
  margin-bottom: 1em;
}

footer > article:last-child {
  margin-bottom: 0.3em;

  padding-top: 1em;
}

.social {
  margin-top: 1em;
  margin-left: 5em;
}

.social > a {
  padding: 0.6em;
}
