img.zoom {
    width: 200px;
    height: 200px;
    position: ms page 4px;
}
.container:hover .imagen {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.container {
    overflow:hidden;
}

 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}